<div id="<%= dom_id user %>">
  <p>
    <strong>Nombre:</strong>
    <%= user.nombre %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Record:</strong>
    <%= user.record %>
  </p>

</div>
